  <label for="recipe_title">Recipe Title</label>
  <input id="recipe_title" name="recipes[title]" type="text"><br />
  <label for="recipe_recipe_description">Recipe Details</label>
  <input id="recipe_recipe_description" name="recipes[recipe_description]" type="text"><br />
  <label for="recipe_stars">Add a star rating</label>
  <select id="recipe_stars" name="recipes[stars]">
    <option value ="☆">☆</option>
    <option value ="☆☆">☆☆</option>
    <option value ="☆☆☆">☆☆☆</option>
    <option value ="☆☆☆☆">☆☆☆☆</option>
    <option value ="☆☆☆☆☆">☆☆☆☆☆</option>
  </select><br />
  <label for="tags_recipes">Choose a tag</label>
  <select id="tags_recipes" name="tag_id">
    <% @tags.each do |tag| %>
      <option value="<%= tag.id %>"><%= tag.name %></option>
    <% end %>
  </select><br />
