<h1> <%= @tag.name %> </h1>

<h3> Recipes </h3>

<ul>
  <% @tag.recipes.each do |recipe| %>
    <li><a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a></li>
  <% end %>
</ul>

<p><a href="/tags">Return to tags</a></p>
