<% content_for(:title, "Home | Recipes") %>

<div id="index-background-image"></div>
<div id="index-content">
  <div class="jumbotron">
    <h1> Recipe Book </h1>
    <a href="/recipes"><button type="button" class="btn btn-primary btn-lg">Click for Recipes</button></a>
    <a href="/tags"><button type="button" class="btn btn-success btn-lg">Click for Tags</button></a>
  </div>
</div>
